*.abs
*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.snm
*.swp
*.synctex.gz
*.tex.bak
*.tex.latexmain
*.toc
*.xmp*
*~
.DS_Store
.agent-shell/
.initialized
TAGS
_region_.*
auto/
cloud
paper.bbl
paper.pdf
